* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}

.left1 {
    margin-left: 25px;
    width: 100%;
    height: 100%;
 
    border: 1px solid red;
}

    .left1 .noidung {
        height: 800px;
        background-color: white;
    }

    .left1 .tumlum p1 {
        font-size: 30px;
        color: black;
    }

    .left1 .tumlum a {
        font-size: 30px;
        color: black;
        margin-left: 30px;
    }

        .left1 .tumlum a:hover {
            font-weight: bold;
            transition: 0.3s;
        }

.right1 {
    width: 40%;
    height: 100%;
    background-color: rgb(215, 220, 83);
    margin-right:30px;
}

.anh img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 14.5rem;
    margin-top: 5rem;
}

.anh .chu {
    font-size: 20px;
    border: 1px solid black;
    margin-left: 15.5rem;
    margin-right: 14rem;
    border-radius: 20px;
    padding: 5px 5px;
    background-color: red;
}

.right1 p5 {
    font-size: 30px;
    color: black;
    margin-left: 14.5rem;
}

.right1 .duoi p7 {
    font-size: 20px;
    gap: 10px;
    color: black;
    margin-left: 38px;
}

.right1 .duoi p8 {
    font-size: 20px;
    gap:50%;
    color: black;
    margin-left: 75px;
}
